<footer>
    <div class="">
        <div class="row">
            <div class="social-media text-center col-md-4 mx-auto">
                <h4>FOLLOW US</h4>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i> &nbsp;facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> &nbsp;twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> &nbsp;instagram</a></li>
                </ul>
            </div>
            <div class="info-for text-center col-md-4 mx-auto">
                <h4>INFO</h4>
                <ul>
                    <li><a href="#">Registration</a></li>
                    <li><a href="#">Shops</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="info-for text-center col-md-4 mx-auto">
                <h4>CONTACT US</h4>
                <ul>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Branches</a></li>
                    <li><a href="#">Find us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <hr />
    </div>

    <div class="row">
        <p class="text-center col-sm-12 mx-auto"> &copy @DateTime.Now.Year Foodies - ALL RIGHTS RESERVED</p>
    </div>
</footer>
