@inherits LayoutComponentBase

<div class="sidebar container">
    <NavMenu />
</div>
<div class="main container">
    <div class="content px-4">
        <div class="container">
            @Body
        </div>
    </div>
</div>
