@page "/ThankYou/{categoryId}"

@using ShoppingApp.Services

@inject ProductServices ProductService
@inject CartServices CartService

@*End of nav*@

@if (int.Parse(categoryId) == 0)
{
    CartService.Cart.ProductGroups.Clear();
}

<NavMenu cartCount="@CartService.Cart.ProductGroups.Count()"></NavMenu>

<div class="main container">
    <div class="content px-4">
        <div class="container">
            <div class="row h-100">
                <div class="thank-you-messege">
                    <div class="vertical-center">
                        <h1 class="text-center text-success">Thank you for shopping with us, Please come again</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code
{
    [Parameter]
    public string categoryId { get; set; }
}
