@page "/ThankYou/{categoryId}"

@using ShoppingApp.Services

@inject ProductServices ProductService
@inject CartServices CartService

<NavMenu cartCount="@CartService.Carts.Count()"></NavMenu>
@*End of nav*@

@if (int.Parse(categoryId) == 0)
{
    CartService.Carts.Clear();
}

<div class="main container">
    <div class="content px-4">
        <div class="container">
            <h1 class="text-center text-success">Thank you for shopping with us, Please come again</h1>
        </div>
    </div>
</div>
        @code
{
            [Parameter]
            public string categoryId { get; set; }
        }
